body {
    font: normal 100%/1.5 Arial, sans-serif;
    color: #666;
    width: 100%;
    margin: 0;
    padding: 0;
}

.App {
  text-align: center;
}


.App-intro {
  font-size: large;
}

.dataTable{
  width:100% !important;
}
